* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#02595054), color-stop(#03a69685), to(#96d9cc79)), url(../_img/overlay.png), url(../_img/bg.jpg);
  background-image: linear-gradient(90deg, #02595054, #03a69685, #96d9cc79), url(../_img/overlay.png), url(../_img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.socialvolley-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 60%;
  height: 100vh;
}

.socialvolley-wrapper .socialvolley-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.socialvolley-wrapper .socialvolley-phone .mobile-1 {
  height: 28rem;
  margin-right: -95px;
  margin-bottom: 150px;
}

.socialvolley-wrapper .socialvolley-phone .mobile-2 {
  height: 30rem;
  z-index: 2;
}

.socialvolley-wrapper .socialvolley-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  min-height: 34rem;
  margin: 0 50px;
}

.socialvolley-wrapper .socialvolley-info .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8f8f8;
  width: 100%;
  padding: 1.3rem 0;
  border: 2px solid #025951;
  border-radius: 5px;
}

.socialvolley-wrapper .socialvolley-info .group:nth-child(1) {
  min-height: 19rem;
}

.socialvolley-wrapper .socialvolley-info .group:nth-child(2) {
  margin-top: 30px;
}

.socialvolley-wrapper .socialvolley-info .group .social-logo {
  font-family: 'Righteous', cursive;
  font-size: 2.5em;
  color: #025951;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}

.socialvolley-wrapper .socialvolley-info .group .profile-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #025951;
  margin-bottom: 15px;
}

.socialvolley-wrapper .socialvolley-info .group .profile-photo img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.socialvolley-wrapper .socialvolley-info .group .social-login {
  background-color: #025951;
  color: white;
  padding: 8px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socialvolley-wrapper .socialvolley-info .group .social-login:hover {
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.socialvolley-wrapper .socialvolley-info .group .social-logout {
  color: #025951;
  margin-top: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socialvolley-wrapper .socialvolley-info .group .social-logout:hover {
  color: #0D0D0D;
}

.socialvolley-wrapper .socialvolley-info .not-account {
  color: #7a7a7a;
}

.socialvolley-wrapper .socialvolley-info .not-account .link-blue {
  color: #025951;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socialvolley-wrapper .socialvolley-info .not-account .link-blue:hover {
  color: #0D0D0D;
  cursor: pointer;
}

.socialvolley-wrapper .socialvolley-info .get-the-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
  margin-top: 15px;
}

.socialvolley-wrapper .socialvolley-info .get-the-app .get-app {
  color: #0D0D0D;
  border-bottom: 2px solid #0D0D0D;
}

.socialvolley-wrapper .socialvolley-info .get-the-app .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.socialvolley-wrapper .socialvolley-info .get-the-app .download .app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.socialvolley-wrapper .socialvolley-info .get-the-app .download .app-download:nth-child(1) {
  background-image: url(../_img/apple.png);
}

.socialvolley-wrapper .socialvolley-info .get-the-app .download .app-download:nth-child(2) {
  background-image: url(../_img/google-play.png);
}

/*media requires*/
@media screen and (max-width: 1024px) {
  .socialvolley-wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .socialvolley-wrapper {
    width: 90% !important;
  }
  .socialvolley-phone {
    display: none !important;
  }
  .socialvolley-info {
    width: 100% !important;
  }
}
/*# sourceMappingURL=estilo.css.map */